<?xml version="1.0"?>
<model>
  <name>wheeltec_mini_mec</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Thomas Luk</name>
    <email>thomasluk624@gmail.com</email>
  </author>

  <description>
  Wheeltec R550 Mini Mecanum robot model.
  </description>
</model>